## Visual Studio user specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results and directories
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Ll]og/
[Ll]ogs/

## Visual Studio cache/options directories
.vs/
*.opensdf
*.sdf
*.cache
*.opendb